.button1,
.text {
  position: relative;
}
.text {
  margin: 0;
  flex: 1;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
}
.button1 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: Inter;
  color: #2d3239;
  text-align: left;
}
.iconoutlinesuggestede-remov {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.button,
.button-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button {
  border: 0;
  padding: 0 12px;
  background-color: transparent;
  height: 40px;
  box-sizing: border-box;
  gap: 8px;
}
.button-4 {
  background-color: #f4f4f4;
  overflow: hidden;
}
.button3 {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.button-3,
.button2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button2 {
  height: 40px;
  padding: 0 12px;
  box-sizing: border-box;
  gap: 8px;
}
.button-3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #161c24;
  overflow: hidden;
}
.button-4-parent,
.frame-wrapper,
.text-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button-4-parent {
  align-items: flex-start;
  gap: 16px;
}
.frame-wrapper,
.text-parent {
  align-items: center;
}
.text-parent {
  flex: 1;
  gap: 8px;
}
.frame-wrapper {
  align-self: stretch;
}
.iconoutlineeditorsearch {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.placetext-holder {
  border: 0;
  font-family: Inter;
  font-size: 14px;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.placeholder {
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}
.button4,
.input,
.placeholder,
.textfield {
  display: flex;
  align-items: center;
}
.input {
  align-self: stretch;
  background-color: #fff;
  border: 1px solid rgba(22, 28, 36, 0.12);
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 16px;
  gap: 12px;
}
.button4,
.textfield {
  justify-content: center;
}
.textfield {
  flex: 1;
  flex-direction: column;
}
.button4 {
  background-color: #f4f4f4;
  overflow: hidden;
  flex-direction: row;
}
.button-wrapper,
.frame-parent,
.search-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.frame-parent,
.search-filter {
  align-self: stretch;
  gap: 16px;
}
.frame-parent {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: left;
  font-size: 24px;
  color: #333843;
  font-family: Inter;
}
.check {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #858d9d;
  box-sizing: border-box;
}
.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
}
.product {
  flex: 1;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter;
  color: #333843;
  text-align: left;
}
.header-cell {
  background-color: #f9f9fc;
  border-bottom: 1px solid #f0f1f3;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 18px 22px;
  gap: 16px;
  width: 100%;
  height: 100%;
}
.th {
  position: relative;
  padding-right: 0;
  padding-bottom: 0;
}
.header-cell1 {
  background-color: #f9f9fc;
  border-bottom: 1px solid #f0f1f3;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 18px 22px;
  height: 100%;
}
.product2 {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter;
  color: #333843;
  text-align: left;
}
.header-cell3,
.header-cell5 {
  background-color: #f9f9fc;
  border-bottom: 1px solid #f0f1f3;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 22px;
  height: 100%;
}
.header-cell3 {
  justify-content: flex-start;
  gap: 8px;
}
.header-cell5 {
  justify-content: center;
}
.th5 {
  position: relative;
  padding-bottom: 0;
}
.tr {
  background-color: transparent;
}
.img-icon {
  position: relative;
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.hoa-cm-chng {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter;
  color: #333843;
  text-align: left;
}
.desc,
.square-image-cell {
  display: flex;
  justify-content: flex-start;
}
.desc {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.square-image-cell {
  background-color: #fff;
  border-bottom: 1px solid #f0f1f3;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 18px 24px;
  gap: 16px;
  width: 100%;
  height: 100%;
}
.div {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter;
  color: #5c59e8;
  text-align: left;
}
.code-cell,
.container1 {
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.code-cell {
  background-color: #fff;
  border-bottom: 1px solid #f0f1f3;
  box-sizing: border-box;
  width: 100%;
  justify-content: flex-start;
  padding: 18px 22px;
  height: 100%;
}
.title-here {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter;
  color: #667085;
  text-align: left;
}
.container2,
.desc1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container2 {
  height: 44px;
  flex-direction: row;
  align-items: center;
}
.text1 {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter;
  color: #e46a11;
  text-align: left;
}
.button-8,
.button7,
.label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.label {
  border-radius: 100px;
  background-color: #fdf1e8;
  flex-direction: column;
  padding: 4px 12px;
}
.button-8,
.button7 {
  flex-direction: row;
}
.button-8 {
  background-color: #fff;
  border-bottom: 1px solid #f0f1f3;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  padding: 32px 22px;
  height: 100%;
}
.text2 {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter;
  color: #0d894f;
  text-align: center;
}
.label1 {
  border-radius: 100px;
  background-color: #e7f4ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
}
.text3 {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter;
  color: #667085;
  text-align: left;
}
.label2 {
  border-radius: 100px;
  background-color: #f0f1f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
}
.td18 {
  padding-right: 0;
}
.td18,
.td23 {
  position: relative;
}
.table {
  align-self: stretch;
  border: 1px solid #f0f1f3;
  box-sizing: border-box;
  height: 378px;
  overflow: hidden;
  flex-shrink: 0;
}
.trong-100 {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
}
.button12 {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button15 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
}
.button14 {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  box-sizing: border-box;
}
.button13,
.button16 {
  width: 32px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
}
.button13 {
  background-color: #d1d1d1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button16 {
  background-color: #f4f4f4;
}
.button-parent,
.button16,
.trong-100-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button-parent {
  flex: 1;
  justify-content: flex-end;
  gap: 16px;
  color: rgba(22, 28, 36, 0.9);
}
.trong-100-parent {
  align-self: stretch;
  justify-content: space-between;
  text-align: left;
  font-size: 14px;
  color: #667085;
  font-family: Inter;
}
.them-san-pham-ket-hop {
  position: relative;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 32px;
  box-sizing: border-box;
  gap: 16px;
}
